@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Not Quite Me</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>League API</h2>
        <p>
            A challenge to build a project in 2 weeks using a limited API published by Riot Games.
        </p>
        <p><a class="btn btn-default" href="/LeagueApi">League Api &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>